.ni-browser {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    .ni-browser__header {
        display: flex;
        align-items: center;
        margin: 15px 0;

        h4 {
            font-size: 20px;
            margin-right: 15px;
        }
    }

    .ni-browser__toolbar {
        margin: 15px 0;
        padding: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 1px rgba(#000000, 0.04);
        border: 1px solid #e5e5e5;
    }

    .ni-browser__images {

        .ni-browser__images-list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        li {
            list-style: none;
            padding: 8px;
            width: 14.28%;
        }
    }

    .ni-browser__image {
        cursor: pointer;
        width: 100%;
        height: auto;
    }
}

.ni-browser__detail {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(#000, 0.4);
    box-sizing: border-box;
    overflow: auto;
    transition: all .3s;

    &.active {
        z-index: 9999;
        visibility: visible;
        opacity: 1;
    }
    
    * {
        box-sizing: border-box;
    }

    .ni-browser__detail-wrapper {
        background-color: #FFFFFF;
        border: 1px solid #e5e5e5;
        box-shadow: 0px 2px 5px rgba(#000, 0.04);
        display: flex;
        flex-wrap: wrap;
    }

    .ni-browser__detail-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .ni-browser__detail-main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .ni-browser__detail-image {
            width: 60%;
            padding: 30px;
            text-align: center;

            img {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                height: auto;
            }
        }

        .ni-browser__detail-edits {
            width: 40%;
            padding: 15px;
            border-left: 1px solid #e5e5e5;
        }
    }

    .gallery-edit {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

        .ni-browser__detail-edits {
            width: 100%;
        }
    }
}