.ni-gallery-component {
    position: relative;

    * {
        box-sizing: border-box;
    }

    .ni-gallery-item {
        width: 33.333333%;
        padding: 5px;

        img {
            width: 100%;
            height: auto;
        }

        &.ni-gallery-add {
            display: flex;
            // align-items: center;
            // justify-content: center;
            cursor: pointer;

            button {
                width: 100%;
                height: 100%;
                background-color: #e5e5e5;
                border: 0;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                transition: all .3s;
                min-height: 150px;

                &:hover {
                    background-color: darken(#e5e5e5, 8%);
                }
            }
        }
    }
}

.ni-gallery {
    width: 500px;
    max-width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 3px 10px rgba(#000000, 0.05);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 15px;

    .ni-gallery__title {
        font-size: 18px;
        width: 100%;
        margin: 10px 0;
    }

    .ni-gallery__images {
        // this is the container of the images
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .ni-gallery__images-item {
        // this is the image item of the grid
        width: 33.333333%;
        padding: 5px;
        position: relative;
    }

    .ni-gallery__image {
        // this is the container of the image, inside of this tag
        // is the img tag

        >img {
            width: 100%;
            height: auto;
        }

        .ni-gallery__actions {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
            transition: all .3s;

            .ni-button {
                padding: 8px 10px;
                font-size: 13px;
            }
        }

        &.ni-gallery__add {
            background-color: #EEEEEE;
            display: flex;
            width: 100%;
            height: 150px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            span {
                color: #202020;
                font-size: 16px;
                font-weight: bold;
                padding: 5px;

                &:first-child {
                    margin-top: 1px solid #EEEEEE;
                }
            }
        }

        &:hover {
            .ni-gallery__actions {
                opacity: 1;
            }
        }
    }
}