.ni-image {
    width: 250px;
    max-width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 3px 10px rgba(#000000, 0.05);
    position: relative;
    margin-top: 15px;
    padding: 5px;

    img {
        width: 100%;
        height: auto;
    }

    .ni-image__actions {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        transition: all .3s;

        .ni-button {
            padding: 8px 10px;
            font-size: 13px;
        }
    }

    &:hover {
        .ni-image__actions {
            opacity: 1;
        }
    }

}