.nice_button,
.ni-button {
    background-color: #006AD5;
    border: 0;
    padding: 10px 15px;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    transition: all .3s;
    margin-right: 5px;

    &:hover {
        background-color: darken(#006AD5, 8%);
    }

    &.ni-button-small {
        padding: 8px 10px;
        font-size: 13px;
    }

    &.ni-button-to-right {
        position: absolute;
        right: 0;
        top: 5px;
    }
}

.btn {
    padding: 8px 15px;
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s;
}

.btn:hover {
    background-color: #CCC;
}

.nice_images.card {
    margin-top: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #EEE;
    display: flex;
    align-items: flex-start;
    transition: all .3s;
}

.nice_images.card img {
    max-width: 100px;
    height: auto;
}

.nice_images.card .content {
    width: calc(100% - 100px);
    padding-left: 10px;
}

.nice_images.card h4 {
    padding: 0;
    margin-top: 0;
}

.nice_images_progress {
    width: 300px;
    margin-top: 10px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.nice_images_process_bar {
    background-color: blue;
    color: #FFFFFF;
    text-align: center;
    height: 15px;
    transition: all .3s;
}

.ni-input {
    backgrund-color: #FFFFFF;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 16px;
    width: 280px;
    line-height: 1.5;
    box-shadow: inset 0 1px 2px rgba(#000, 0.07);
}

.ni-list {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    list-style: none;
    font-size: 16px;

    li {
        list-style: none;
    }
}

.ni-form {
    margin-top: 15px;
}

.ni-form-group {
    position: relative;
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 10px;
    }
}

.hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden!important;
}

.ni-messages {

}

.ni-image-field,
.ni-gallery-field {
    display: inline-block;
}

.ni-progress {
    background-color: #EEEEEE;
    border-radius: 5px;
    height: 15px;
    width: 100%;
    overflow: hidden;
    display: block;
    opacity: 0;

    &.active {
        display: block;
        margin-top: 10px;
        opacity: 1;
    }

    .ni-progress-bar {
        width: 0%;
        background-color: #006AD5;
        transition: all .3s;
        height: 15px;
    }
}