.ni-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    // visibility: hidden;
    display: none;
    opacity: 0;
    background-color: rgba(#000, 0.4);
    box-sizing: border-box;
    overflow: hidden;
    transition: opacity .15s linear;

    &.active {
        display: block;
        z-index: 9999;
        opacity: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    * {
        box-sizing: border-box;
    }

    .ni-modal__wrapper {
        background-color: #FFFFFF;
        border: 1px solid #e5e5e5;
        box-shadow: 0px 2px 5px rgba(#000, 0.04);
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
        position: relative;
    }

    .ni-modal__header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .ni-modal__title {
            font-size: 20px;
        }
    }

    .ni-close-modal {
        position: relative;
        font-size: 25px;
        font-weight: 600;
        color: #000;
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
    }

    .ni-modal__content {
        padding: 15px;
        width: 100%;

        .ni-modal__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            .ni-modal__list-item {
                list-style: none;
                padding: 8px;
                width: 14.28%;
                position: relative;
                cursor: pointer;

                img {
                    width: 100%;
                    height: auto;
                    transition: all .3s;
                }

                figure { 
                    position: relative; 
                    margin: 0;
                }

                figcaption {
                    background-color: rgba(#000, 0.6);
                    color: #FFFFFF;
                    width: 100%;
                    padding: 5px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                .unselect {
                    background-color: #006AD5;
                    color: #FFF;
                    border: 0;
                    font-size: 18px;
                    font-weight: bold;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    display: none;
                }

                &.multiple {
                    &.selected {
                        .unselect {
                            display: block;
                        }

                        img {
                            border: 3px solid #006AD5;
                        }
                    }

                }
            }
        }
    }

    .ni-browser__detail-main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .ni-browser__detail-image {
            width: 60%;
            padding: 30px;
            text-align: center;

            img {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                height: auto;
            }
        }

        .ni-browser__detail-edits {
            width: 40%;
            padding: 15px;
            border-left: 1px solid #e5e5e5;
        }
    }
}

.nice_images_fake_bg {
    background-color: transparent;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    visibility: hidden;
    transition: all .3s;

    &.active {
        background-color: rgba(#000000, 0.7);
        opacity: 1;
        visibility: visible;
        z-index: 99999;
    }
}

.nice_images_admin_content {
    width: 100%!important;
    box-sizing: border-box;
}

.nice_images_modal {
    position: fixed;
    width: 80%;
    height: 80%;
    overflow: auto;
    top: 10%;
    left: 10%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(#000000, 0.2);
    opacity: 0;
    z-index: 0;
    box-sizing: border-box;
    transition: all .3s;
    visibility: hidden;

    &.nice_images_library {
        position: relative;
        width: 100%;
        height: 100%;
        visibility: visible;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: 999999;
        box-shadow: 0px 3px 10px rgba(#505050, 0.1);
    }

    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 999999;
    }

    *{
        box-sizing: border-box;
    }

    .nice_images_modal_header {
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #CCC;

        h4 {
            font-size: 24px;
            margin: 0;
        }
    }

    .nice_images_modal_content {
        padding: 15px;
        position: relative;
        width: 100%;

        .nice_images_modal_photos {
            background-color: #FFFFFF;
            z-index: 1;
            width: 100%;
            position: relative;
            min-height: 60vh;

            ul {
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;

                >li {
                    width: 16.666667%;
                    list-style: none!important;
                    padding: 10px;
                }
            }

            .nice_images_modal_image {
                width: 100%;
                height: auto;
                cursor: pointer;
            }
        }

        .nice_images_modal_preview {
            padding: 15px;
            position: absolute;
            top: 0;
            right: 0;
            width: 350px;
            height: 100%;
            background-color: #FFFFFF;
            z-index: 0;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}