<script type="text/x-handlebars-template" id="nice_images_library_photos_template-{{field_id}}">
{% verbatim %}
    {{#if images}}
    <div>
        <ul>
            {{#each images}}
            <li>
                <img src="{{image}}" class="nice_images_modal_image" data-id="{{id}}" onclick="return niceModalSelectImage({{id}});" />
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
{% endverbatim %}
</script>
