{% load static i18n %}
{% include "nice_images/images_list.handlebars" with field_id=field_id %}
<div class="nice_images_modal" id="nice_images_modal-{{ field_id }}">
    <div class="nice_images_modal_header">
        <h4>{% trans "Library" %}</h4>
        <div>
            <button type="button" class="nice_button">Subir Imagen</button>
            <button type="button" class="nice_button nice_button_close">Cerrar</button>
        </div>
    </div>
    <div class="nice_images_modal_content">
        <div class="nice_images_modal_photos">
            <div id="nice_images_modal_photos-{{ field_id }}">
                
            </div>
        </div>
        <div class="nice_images_modal_preview">
            <h4>Nombre de la imagen</h4>
            <img src="https://images.pexels.com/photos/712513/pexels-photo-712513.jpeg?h=350&auto=compress&cs=tinysrgb">
            <ul>
                <li><strong>{% trans "Dimensions" %}:</strong> 400x600</li>
                <li><strong>{% trans "File Size" %}:</strong> 400kb</li>
                <li><strong>{% trans "Uploaded by" %}:</strong> david</li>
            </ul>
        </div>
    </div>
</div>