{% load static i18n %}

<div class="ni-image-field" data-field="{{ id }}" data-url-detail="{% url 'nice_images:get_current' %}" data-url-all="{% url 'nice_images:list_images' %}">
    <div class="hidden">
        {{ hidden_input }}
    </div>
    <div id="ni-image-component-{{ id }}" class="ni-image-component"></div>
    <input id="ni-image-uploader-{{ id }}" type="file" name="photo" style="display: none;" data-url="{% url 'nice_images:upload_image' %}" />
</div>