<div class="ni-gallery-field" data-field="{{ id }}" data-url-detail="{% url 'nice_images:gallery_detail' %}" data-url-all="{% url 'nice_images:gallery_list' %}" data-url-add-images="{% url 'nice_images:gallery_add_images' %}" data-url-delete-item="{% url 'nice_images:gallery_delete_item' %}">
    <div class="hidden">
        {{ hidden_input }}
    </div>
    <div id="ni-gallery-{{ id }}" class="ni-gallery-component"></div>
    <input id="ni-gallery-images-{{ id }}" type="file" name="photo" style="display: none;" data-url="{% url 'nice_images:upload_image' %}" multiple />
</div>