{% load static i18n %}
<div class="ni-many-to-many-wrapper">
    <div class="hidden">
        {{ hidden_input }}
    </div>
    <div class="ni-gallery-component" id="ni-gallery-{{ id }}" data-field="{{ id }}" data-url="{% url 'nice_images:filter_images' %}">
        <div class="ni-gallery-item ni-gallery-add">
            <button type="button">{% trans "Add Image" %}</button>
        </div>
    </div>
    <input id="nice_images-{{ id }}" type="file" name="photo" style="display: none;" data-url="{% url 'nice_images:upload_image' %}" multiple />
</div>