.nice_button,
.ni-button {
  background-color: #006AD5;
  border: 0;
  padding: 10px 15px;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-right: 5px; }
  .nice_button:hover,
  .ni-button:hover {
    background-color: #0056ac; }
  .nice_button.ni-button-small,
  .ni-button.ni-button-small {
    padding: 8px 10px;
    font-size: 13px; }
  .nice_button.ni-button-to-right,
  .ni-button.ni-button-to-right {
    position: absolute;
    right: 0;
    top: 5px; }

.btn {
  padding: 8px 15px;
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: all .3s;
  transition: all .3s; }

.btn:hover {
  background-color: #CCC; }

.nice_images.card {
  margin-top: 10px;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #EEE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all .3s;
  transition: all .3s; }

.nice_images.card img {
  max-width: 100px;
  height: auto; }

.nice_images.card .content {
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  padding-left: 10px; }

.nice_images.card h4 {
  padding: 0;
  margin-top: 0; }

.nice_images_progress {
  width: 300px;
  margin-top: 10px;
  height: 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }

.nice_images_process_bar {
  background-color: blue;
  color: #FFFFFF;
  text-align: center;
  height: 15px;
  -webkit-transition: all .3s;
  transition: all .3s; }

.ni-input {
  backgrund-color: #FFFFFF;
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-size: 16px;
  width: 280px;
  line-height: 1.5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07); }

.ni-list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  font-size: 16px; }
  .ni-list li {
    list-style: none; }

.ni-form {
  margin-top: 15px; }

.ni-form-group {
  position: relative;
  margin-bottom: 15px; }
  .ni-form-group label {
    display: block;
    margin-bottom: 10px; }

.hidden {
  display: none; }

.overflow-hidden {
  overflow: hidden !important; }

.ni-image-field,
.ni-gallery-field {
  display: inline-block; }

.ni-progress {
  background-color: #EEEEEE;
  border-radius: 5px;
  height: 15px;
  width: 100%;
  overflow: hidden;
  display: block;
  opacity: 0; }
  .ni-progress.active {
    display: block;
    margin-top: 10px;
    opacity: 1; }
  .ni-progress .ni-progress-bar {
    width: 0%;
    background-color: #006AD5;
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 15px; }

.ni-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }
  .ni-modal.active {
    display: block;
    z-index: 9999;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto; }
  .ni-modal * {
    box-sizing: border-box; }
  .ni-modal .ni-modal__wrapper {
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    overflow: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    position: relative; }
  .ni-modal .ni-modal__header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    .ni-modal .ni-modal__header .ni-modal__title {
      font-size: 20px; }
  .ni-modal .ni-close-modal {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer; }
  .ni-modal .ni-modal__content {
    padding: 15px;
    width: 100%; }
    .ni-modal .ni-modal__content .ni-modal__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .ni-modal .ni-modal__content .ni-modal__list .ni-modal__list-item {
        list-style: none;
        padding: 8px;
        width: 14.28%;
        position: relative;
        cursor: pointer; }
        .ni-modal .ni-modal__content .ni-modal__list .ni-modal__list-item img {
          width: 100%;
          height: auto;
          -webkit-transition: all .3s;
          transition: all .3s; }
        .ni-modal .ni-modal__content .ni-modal__list .ni-modal__list-item figure {
          position: relative;
          margin: 0; }
        .ni-modal .ni-modal__content .ni-modal__list .ni-modal__list-item figcaption {
          background-color: rgba(0, 0, 0, 0.6);
          color: #FFFFFF;
          width: 100%;
          padding: 5px;
          position: absolute;
          bottom: 0;
          left: 0; }
        .ni-modal .ni-modal__content .ni-modal__list .ni-modal__list-item .unselect {
          background-color: #006AD5;
          color: #FFF;
          border: 0;
          font-size: 18px;
          font-weight: bold;
          position: absolute;
          top: -10px;
          right: -10px;
          display: none; }
        .ni-modal .ni-modal__content .ni-modal__list .ni-modal__list-item.multiple.selected .unselect {
          display: block; }
        .ni-modal .ni-modal__content .ni-modal__list .ni-modal__list-item.multiple.selected img {
          border: 3px solid #006AD5; }
  .ni-modal .ni-browser__detail-main {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .ni-modal .ni-browser__detail-main .ni-browser__detail-image {
      width: 60%;
      padding: 30px;
      text-align: center; }
      .ni-modal .ni-browser__detail-main .ni-browser__detail-image img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        height: auto; }
    .ni-modal .ni-browser__detail-main .ni-browser__detail-edits {
      width: 40%;
      padding: 15px;
      border-left: 1px solid #e5e5e5; }

.nice_images_fake_bg {
  background-color: transparent;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .nice_images_fake_bg.active {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    visibility: visible;
    z-index: 99999; }

.nice_images_admin_content {
  width: 100% !important;
  box-sizing: border-box; }

.nice_images_modal {
  position: fixed;
  width: 80%;
  height: 80%;
  overflow: auto;
  top: 10%;
  left: 10%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 0;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  visibility: hidden; }
  .nice_images_modal.nice_images_library {
    position: relative;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 999999;
    box-shadow: 0px 3px 10px rgba(80, 80, 80, 0.1); }
  .nice_images_modal.active {
    visibility: visible;
    opacity: 1;
    z-index: 999999; }
  .nice_images_modal * {
    box-sizing: border-box; }
  .nice_images_modal .nice_images_modal_header {
    width: 100%;
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #CCC; }
    .nice_images_modal .nice_images_modal_header h4 {
      font-size: 24px;
      margin: 0; }
  .nice_images_modal .nice_images_modal_content {
    padding: 15px;
    position: relative;
    width: 100%; }
    .nice_images_modal .nice_images_modal_content .nice_images_modal_photos {
      background-color: #FFFFFF;
      z-index: 1;
      width: 100%;
      position: relative;
      min-height: 60vh; }
      .nice_images_modal .nice_images_modal_content .nice_images_modal_photos ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: 0;
        padding: 0; }
        .nice_images_modal .nice_images_modal_content .nice_images_modal_photos ul > li {
          width: 16.666667%;
          list-style: none !important;
          padding: 10px; }
      .nice_images_modal .nice_images_modal_content .nice_images_modal_photos .nice_images_modal_image {
        width: 100%;
        height: auto;
        cursor: pointer; }
    .nice_images_modal .nice_images_modal_content .nice_images_modal_preview {
      padding: 15px;
      position: absolute;
      top: 0;
      right: 0;
      width: 350px;
      height: 100%;
      background-color: #FFFFFF;
      z-index: 0; }
      .nice_images_modal .nice_images_modal_content .nice_images_modal_preview img {
        width: 100%;
        height: auto; }

.ni-browser {
  box-sizing: border-box; }
  .ni-browser * {
    box-sizing: border-box; }
  .ni-browser .ni-browser__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 0; }
    .ni-browser .ni-browser__header h4 {
      font-size: 20px;
      margin-right: 15px; }
  .ni-browser .ni-browser__toolbar {
    margin: 15px 0;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #e5e5e5; }
  .ni-browser .ni-browser__images .ni-browser__images-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .ni-browser .ni-browser__images li {
    list-style: none;
    padding: 8px;
    width: 14.28%; }
  .ni-browser .ni-browser__image {
    cursor: pointer;
    width: 100%;
    height: auto; }

.ni-browser__detail {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  overflow: auto;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .ni-browser__detail.active {
    z-index: 9999;
    visibility: visible;
    opacity: 1; }
  .ni-browser__detail * {
    box-sizing: border-box; }
  .ni-browser__detail .ni-browser__detail-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .ni-browser__detail .ni-browser__detail-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .ni-browser__detail .ni-browser__detail-main {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .ni-browser__detail .ni-browser__detail-main .ni-browser__detail-image {
      width: 60%;
      padding: 30px;
      text-align: center; }
      .ni-browser__detail .ni-browser__detail-main .ni-browser__detail-image img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        height: auto; }
    .ni-browser__detail .ni-browser__detail-main .ni-browser__detail-edits {
      width: 40%;
      padding: 15px;
      border-left: 1px solid #e5e5e5; }
  .ni-browser__detail .gallery-edit {
    width: 100%;
    max-width: 500px;
    margin: 0 auto; }
    .ni-browser__detail .gallery-edit .ni-browser__detail-edits {
      width: 100%; }

.ni-gallery-component {
  position: relative; }
  .ni-gallery-component * {
    box-sizing: border-box; }
  .ni-gallery-component .ni-gallery-item {
    width: 33.333333%;
    padding: 5px; }
    .ni-gallery-component .ni-gallery-item img {
      width: 100%;
      height: auto; }
    .ni-gallery-component .ni-gallery-item.ni-gallery-add {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer; }
      .ni-gallery-component .ni-gallery-item.ni-gallery-add button {
        width: 100%;
        height: 100%;
        background-color: #e5e5e5;
        border: 0;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        -webkit-transition: all .3s;
        transition: all .3s;
        min-height: 150px; }
        .ni-gallery-component .ni-gallery-item.ni-gallery-add button:hover {
          background-color: #d1d1d1; }

.ni-gallery {
  width: 500px;
  max-width: 100%;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  margin-top: 15px; }
  .ni-gallery .ni-gallery__title {
    font-size: 18px;
    width: 100%;
    margin: 10px 0; }
  .ni-gallery .ni-gallery__images {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .ni-gallery .ni-gallery__images-item {
    width: 33.333333%;
    padding: 5px;
    position: relative; }
  .ni-gallery .ni-gallery__image > img {
    width: 100%;
    height: auto; }
  .ni-gallery .ni-gallery__image .ni-gallery__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .ni-gallery .ni-gallery__image .ni-gallery__actions .ni-button {
      padding: 8px 10px;
      font-size: 13px; }
  .ni-gallery .ni-gallery__image.ni-gallery__add {
    background-color: #EEEEEE;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 150px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .ni-gallery .ni-gallery__image.ni-gallery__add span {
      color: #202020;
      font-size: 16px;
      font-weight: bold;
      padding: 5px; }
      .ni-gallery .ni-gallery__image.ni-gallery__add span:first-child {
        margin-top: 1px solid #EEEEEE; }
  .ni-gallery .ni-gallery__image:hover .ni-gallery__actions {
    opacity: 1; }

.ni-image {
  width: 250px;
  max-width: 100%;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-top: 15px;
  padding: 5px; }
  .ni-image img {
    width: 100%;
    height: auto; }
  .ni-image .ni-image__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .ni-image .ni-image__actions .ni-button {
      padding: 8px 10px;
      font-size: 13px; }
  .ni-image:hover .ni-image__actions {
    opacity: 1; }
