{% extends "admin/app_index.html" %}
{% load static i18n %}
{% block title %}{% trans "Media Library" %}{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% block content %}
    <div id="nice_images_library">
        <h3>Here will go the library</h3>
    </div>
    <link rel="stylesheet" href="{% static 'nice_images/css/nice.css' %}">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#content').addClass('nice_images_admin_content');
        });
    </script>
    <script type="text/javascript" src="{% static 'nice_images/react/build/static/js/main.js' %}"></script>
{% endblock content %}